// =================================================================================
// Mixins and Functions
// =================================================================================
@mixin box($color) {
  background: $color;
  border: 1px solid darken($color, 10%);
  border-radius: 2px;
  padding: $gutter-width-percentage / 2;
}

@mixin input() {
  border: none;
  @include body;
  border-radius: $border-radius;
  background: $app-background;
  padding: 0;
}

@mixin container() {
  margin: 0 auto;
	padding: 0;
	width: 98%;
	max-width: ($max-width) + px;
}

@function grid_width($nbr) {
  @return ((($column-width / $max-width) * $nbr) * 100%) + (($nbr - 1) * $gutter-width-percentage);
}

@mixin push($nbr) {
  margin-left: ($gutter-width-percentage * 1.5) + grid_width($nbr);
}

@mixin grid($nbr) {
	float:left;
	margin: $gutter-width-percentage / 2;
	width: grid_width($nbr);
	box-sizing: border-box;
}

@mixin grid_container($nbr) {
	float:left;
	width: grid_width($nbr) + $gutter-width-percentage;
	box-sizing: border-box;
}

@mixin alpha() {
  margin-left: 0;
}

@mixin omega() {
  margin-right: 0;
}

@mixin code {
  font-family: $code;
  fonxt-size: 11px;
  line-height: 1.5;
}
@mixin body {
  font-family: $body;
  font-size: 16px;
  line-height: 1.5;
}
@mixin controls {
  font-family: $controls;
  font-size: 11px;
  font-weight: normal;
}
@mixin heading {
  font-family: $heading;
  font-weight: normal;
}

@mixin hide { display: none; }
@mixin reset { margin: 0 0 0 0; padding: 0 0 0 0; }

@mixin transition($prop, $dur) {
  transition: $prop $dur;
  -moz-transition: $prop $dur;
  -webkit-transition: $prop $dur;
  -o-transition: $prop $dur;
  -ie-transition: $prop $dur;
}

@mixin transition-delay($delay) {
  transition-delay: $delay;
  -moz-transition-delay: $delay;
  -webkit-transition-delay: $delay;
  -o-transition-delay: $delay;
  -ie-transition-delay: $delay;
}






