/*------------------------------------------------------------------------------
INDEX.CSS -- Annotare ❧ For Inquistive Minds
------------------------------------------------------------------------------*/
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

[hidden] {
  display: none; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html, button, input, select, textarea {
  font-family: sans-serif;
  color: #222; }

body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4; }

a {
  color: #00e; }

a:visited {
  color: #551a8b; }

a:hover {
  color: #06e; }

a:focus {
  outline: thin dotted; }

a:hover, a:active {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

ins {
  background: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold; }

pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before, q:after {
  content: "";
  content: none; }

small {
  font-size: 85%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px; }

dd {
  margin: 0 0 0 40px; }

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

form {
  margin: 0; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

label {
  cursor: pointer; }

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button, input {
  line-height: normal; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible; }

button[disabled], input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

input:invalid, textarea:invalid {
  background-color: #f0dddd; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  vertical-align: top; }

* {
  box-sizing: border-box; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: black;
  padding: 0.2em 0; }

#dialog {
  position: fixed;
  left: 50%;
  top: 150px;
  max-width: 600px;
  min-width: 250px;
  border: 1px solid #DDD;
  border-bottom-color: #cacaca;
  -webkit-border-radius: 3px;
  -webkit-box-shadow: 0 1px 15px #666;
  background: white;
  z-index: 1000; }

#dialog .content {
  padding: 15px 20px; }

#dialog h1 {
  margin: 0 0 5px 0;
  font-size: 16px;
  font-weight: normal; }

#dialog p {
  margin: 0;
  padding: 0;
  font-size: .9em; }

#dialog .actions button {
  padding: 5px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer; }

#dialog .actions button:hover {
  text-decoration: underline; }

#dialog .actions button.main {
  padding: 5px 15px;
  background: -webkit-linear-gradient(top, white 20%, #eeeeee);
  border: 1px solid #eee;
  border-bottom-color: #cacaca;
  -webkit-border-radius: 3px;
  outline: none; }

#dialog .actions button.main:hover {
  text-decoration: none;
  background: -webkit-linear-gradient(top, white 50%, #eeeeee); }

#dialog .actions button.main:active {
  background: -webkit-linear-gradient(bottom, white 20%, #eeeeee); }

#dialog.modal {
  -webkit-box-shadow: 0 1px 8px 0 black; }

/* close */
#dialog .close {
  position: absolute;
  top: 3px;
  right: 10px;
  text-decoration: none;
  color: #888;
  font-size: 16px;
  font-weight: bold;
  display: none; }

#dialog.closable .close {
  display: block; }

#dialog .close:hover {
  color: black; }

#dialog .close:active {
  margin-top: 1px; }

/* slide */
#dialog.slide {
  -webkit-transition: opacity 300ms, top 300ms; }

#dialog.slide.hide {
  opacity: 0;
  top: -500px; }

/* fade */
#dialog.fade {
  -webkit-transition: opacity 300ms; }

#dialog.fade.hide {
  opacity: 0; }

/* scale */
#dialog.scale {
  -webkit-transition: -webkit-transform 300ms;
  -webkit-transform: scale(1); }

#dialog.scale.hide {
  -webkit-transform: scale(0); }

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  -webkit-transition: opacity 300ms;
  z-index: 500; }

#overlay.hide {
  pointer-events: none;
  opacity: 0; }

.confirmation .actions {
  border-top: 1px solid #eee;
  padding: 5px;
  text-align: right;
  background: #fafafa;
  -webkit-box-shadow: inset 0 1px 0 white; }

.color-picker canvas {
  border: 1px solid #888;
  cursor: crosshair; }

#notifications {
  position: fixed;
  top: 10px;
  right: 15px; }

#notifications li {
  margin-bottom: 5px;
  list-style: none; }

.notification {
  position: relative;
  max-width: 600px;
  min-width: 250px;
  border: 1px solid #DDD;
  border-bottom-color: #cacaca;
  -webkit-border-radius: 3px;
  -webkit-box-shadow: 0 1px 15px #666;
  background: white;
  z-index: 9999; }

.notification .content {
  padding: 15px 20px; }

.notification h1 {
  margin: 0 0 5px 0;
  font-size: 16px;
  font-weight: normal; }

.notification p {
  margin: 0;
  padding: 0;
  font-size: .9em; }

.notification .close {
  position: absolute;
  top: 5px;
  right: 10px;
  text-decoration: none;
  color: #888;
  display: none; }

.notification.closable .close {
  display: block; }

.notification .close:hover {
  color: black; }

.notification .close:active {
  margin-top: 1px; }

/* close */
.notification .close {
  position: absolute;
  top: 3px;
  right: 10px;
  text-decoration: none;
  color: #888;
  font-size: 16px;
  font-weight: bold;
  display: none; }

/* slide */
.notification.slide {
  -webkit-transition: opacity 300ms, top 300ms; }

.notification.slide.hide {
  opacity: 0;
  top: -500px; }

/* fade */
.notification.fade {
  -webkit-transition: opacity 300ms; }

.notification.fade.hide {
  opacity: 0; }

/* scale */
.notification.scale {
  -webkit-transition: -webkit-transform 300ms;
  -webkit-transform: scale(1); }

.notification.scale.hide {
  -webkit-transform: scale(0); }

#context-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  margin: 0;
  padding: 0;
  background: white;
  -webkit-border-radius: 5px;
  font-size: 12px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1), 0 2px 6px 0 rgba(0, 0, 0, 0.2); }

#context-menu li {
  list-style: none; }

#context-menu li a {
  display: block;
  padding: 5px 30px 5px 12px;
  text-decoration: none;
  border-top: 1px solid #eee;
  color: #2e2e2e; }

#context-menu li:first-child a {
  border-top: none; }

#context-menu li a:hover {
  background: #f1faff; }

/* from: http://desandro.github.com/3d-webkit-transforms */
.card {
  width: 200px;
  height: 260px;
  position: relative;
  -webkit-perspective: 800; }

.card .wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  border: 1px solid #eee;
  border-bottom-color: #cacaca;
  -webkit-border-radius: 3px;
  -webkit-box-shadow: inset 0 -1px 0 0 white, 0 1px 4px 0 #dddddd; }

.card .face {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; }

.card .back {
  -webkit-transform: rotateY(180deg); }

.card.flipped .wrapper {
  -webkit-transform: rotateY(180deg); }

/* sideflip effect */
.card.sideflip .wrapper {
  -webkit-transform-origin: right center; }

.card.sideflip.flipped .wrapper {
  -webkit-transform: translateX(-100%) rotateY(180deg); }

html {
  font-size: 16px;
  color: #111111; }

body {
  background: white;
  font-size: 1em;
  font-family: Courier, monospace;
  font-size: 16px;
  line-height: 1.5;
  box-sizing: border-box;
  width: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0; }

article a, article a:hover, article a:visited, article a:active {
  font-family: Courier, monospace;
  font-size: 16px;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  font-family: Courier, monospace;
  font-weight: normal;
  line-height: 1;
  margin: 20px 0 0 0; }

h1 {
  font-size: 2.2em; }

h2 {
  font-size: 2.0em; }

h3 {
  font-size: 1.8em; }

h4 {
  font-size: 1.6em; }

h5 {
  font-size: 1.4em; }

h6 {
  font-size: 1.2em; }

p {
  margin: 0 0 20px 0; }

pre {
  background: rgba(122, 191, 220, 0.3);
  border: 1px solid rgba(40, 117, 149, 0.3);
  border-radius: 2px;
  padding: 0.298% 1.19%; }

code {
  font-family: Courier, monospace;
  fonxt-size: 11px;
  line-height: 1.5; }

blockquote {
  margin-left: 0.25em;
  padding-left: 0.25em;
  border-left: 0.25em solid rgba(82, 171, 209, 0.3); }

ul {
  margin-left: 0.25em; }

label, a, a:visited, a:hover, a:active {
  font-family: "Lucida Grande", Verdana, "Bitstream Vera Sans", sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  color: #111111; }

textarea {
  border: none;
  font-family: Courier, monospace;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.4);
  padding: 0; }

input[type=text], input[type=password] {
  border: none;
  font-family: Courier, monospace;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.4);
  padding: 0;
  border: 1px solid #CCC;
  padding: 0.595%; }

section.one-column article {
  float: left;
  width: 100.0%;
  box-sizing: border-box; }
section.one-column aside {
  display: none; }
section.two-column article {
  float: left;
  width: 66.667%;
  box-sizing: border-box; }
section.two-column aside {
  float: left;
  width: 33.333%;
  box-sizing: border-box; }

#grid-container {
  margin: 0 auto;
  padding: 0;
  width: 98%;
  max-width: 1680px;
  position: relative; }

#application {
  margin-top: 56px;
  margin-bottom: 56px; }
  @media print {
    #application {
      margin: 0; } }

#dialog, .notification {
  font-family: "Lucida Grande", Verdana, "Bitstream Vera Sans", sans-serif;
  font-size: 12px;
  font-weight: bold; }

header, .tool-bar-wrap {
  background: #cccccc;
  border: 1px solid gray;
  border-radius: 2px;
  padding: 0.298% 1.19%;
  background: #e9e9e9;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U5ZTllOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiYWJhYmEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #e9e9e9 0%, #bababa 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e9e9e9), color-stop(100%, #bababa));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e9e9e9 0%, #bababa 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e9e9e9 0%, #bababa 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #e9e9e9 0%, #bababa 100%);
  /* IE10+ */
  background: linear-gradient(top, #e9e9e9 0%, #bababa 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#bababa',GradientType=0 );
  /* IE6-8 */
  padding-top: 3px;
  padding-bottom: 3px;
  position: fixed;
  left: 0;
  z-index: 9999;
  width: 100%;
  border-left: none;
  border-right: none;
  margin-top: 0;
  border-radius: 0;
  box-shadow: 0 0px 40px #aaa; }
  @media print {
    header, .tool-bar-wrap {
      display: none; } }
  header nav, .tool-bar-wrap nav {
    float: left;
    margin: 0.595%;
    width: 98.81%;
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 0; }

header {
  top: 0;
  border-top: none; }
  header nav h1, header nav h1 a, header nav h1 a:visited, header nav h1 a:hover, header nav h1 a:active, header nav ul, header nav ul a, header nav ul a:visited, header nav ul a:hover, header nav ul a:active, header nav ul li, header nav ul li a, header nav ul li a:visited, header nav ul li a:hover, header nav ul li a:active {
    font-family: "Lucida Grande", Verdana, "Bitstream Vera Sans", sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    display: inline-block; }
  header nav h1 {
    float: left;
    font-weight: bold;
    line-height: 1.5; }
  header nav ul {
    float: right; }
    header nav ul li {
      display: inline-block;
      margin: 0 0 0 20px; }

.tool-bar-wrap {
  padding-top: 0;
  padding-bottom: 0;
  bottom: 0;
  border-bottom: none; }
  .tool-bar-wrap nav div:first-child {
    float: left; }
    .tool-bar-wrap nav div:first-child a {
      display: inline-block;
      margin-right: 20px; }
  .tool-bar-wrap nav div:nth-child(2) {
    float: right; }
    .tool-bar-wrap nav div:nth-child(2) a {
      display: inline-block;
      margin-left: 20px; }
  .tool-bar-wrap nav div input[type='range'] {
    position: relative;
    top: 5px; }

.note {
  padding: 0 0.5% !important; }
  @media screen {
    .note:nth-child(even), .note:nth-child(even) .note-detail {
      background: rgba(82, 171, 209, 0.3);
      border: 1px solid rgba(29, 85, 109, 0.3);
      border-radius: 2px;
      padding: 0.298% 1.19%; } }
  @media print {
    .note:nth-child(even), .note:nth-child(even) *, .note:nth-child(even) .note-detail, .note:nth-child(even) .note-detail * {
      color: rgba(40, 117, 149, 0.3); } }
  @media screen {
    .note:nth-child(odd), .note:nth-child(odd) .note-detail {
      background: rgba(104, 179, 100, 0.3);
      border: 1px solid rgba(44, 85, 41, 0.3);
      border-radius: 2px;
      padding: 0.298% 1.19%; } }
  @media print {
    .note:nth-child(odd), .note:nth-child(odd) *, .note:nth-child(odd) .note-detail, .note:nth-child(odd) .note-detail * {
      color: rgba(61, 119, 58, 0.3); } }
  @media print {
    .note {
      font-weight: bold; } }
  .note .note-detail {
    max-width: 32.143%;
    padding: 0 0.5% !important;
    display: inline-block;
    height: 1.5em;
    position: absolute;
    right: 1%;
    z-index: 100;
    overflow: hidden; }
  .note:hover .note-detail, .note .note-detail:focus {
    height: auto;
    z-index: 6000;
    outline: none; }
  .note .note-detail:focus {
    box-shadow: inset 0 0 2px #666;
    outline: none; }

.highlight {
  padding: 0 0.5% !important; }
  @media screen {
    .highlight {
      background: rgba(209, 82, 82, 0.3);
      border: 1px solid rgba(109, 29, 29, 0.3);
      border-radius: 2px;
      padding: 0.298% 1.19%; } }
  @media print {
    .highlight, .highlight * {
      color: rgba(149, 40, 40, 0.3);
      font-weight: bold; } }

.drop-zone {
  margin: 0;
  background: rgba(82, 171, 209, 0.3);
  border: 1px solid rgba(29, 85, 109, 0.3);
  border-radius: 2px;
  padding: 0.298% 1.19%;
  border: 3px dashed rgba(50, 148, 190, 0.3);
  border-style: dashed;
  border-width: 3px; }
  .drop-zone h3 {
    margin: 20px;
    text-align: center;
    font-style: italic; }
  .drop-zone p {
    text-align: center; }

#detail-view .wrap, #history-view .wrap {
  float: left;
  margin: 0.595%;
  width: 98.81%;
  box-sizing: border-box;
  border: none;
  margin-bottom: 56px; }

#list-view form#search-form {
  float: left;
  margin: 0.595%;
  width: 98.81%;
  box-sizing: border-box; }
  #list-view form#search-form input {
    width: 100%; }
    #list-view form#search-form input:focus {
      outline: none; }
#list-view p.new-document {
  cursor: pointer;
  border-radius: 3px;
  background: rgba(82, 171, 209, 0.3);
  border: 1px solid rgba(29, 85, 109, 0.3);
  border-radius: 2px;
  padding: 0.298% 1.19%; }
#list-view article {
  float: left;
  margin: 0.595%;
  width: 23.81%;
  box-sizing: border-box;
  height: 200px;
  float: left;
  cursor: pointer;
  border-radius: 3px;
  overflow: hidden; }
  @media handheld and (max-width: 1100px) and (min-width: 800px), screen and (max-width: 1100px) and (min-width: 800px) {
    #list-view article {
      float: left;
      margin: 0.595%;
      width: 32.143%;
      box-sizing: border-box; } }
  @media handheld and (max-width: 800px) and (min-width: 500px), screen and (max-width: 800px) and (min-width: 500px) {
    #list-view article {
      float: left;
      margin: 0.595%;
      width: 48.81%;
      box-sizing: border-box; } }
  @media handheld and (max-width: 500px), screen and (max-width: 500px) {
    #list-view article {
      float: left;
      margin: 0.595%;
      width: 98.81%;
      box-sizing: border-box; } }
  #list-view article:nth-child(odd) {
    background: rgba(82, 171, 209, 0.3);
    border: 1px solid rgba(29, 85, 109, 0.3);
    border-radius: 2px;
    padding: 0.298% 1.19%; }
  #list-view article:nth-child(even) {
    background: rgba(104, 179, 100, 0.3);
    border: 1px solid rgba(44, 85, 41, 0.3);
    border-radius: 2px;
    padding: 0.298% 1.19%; }
#list-view #tool-bar {
  display: none; }

#login-view, #register-view {
  background: rgba(82, 171, 209, 0.3);
  border: 1px solid rgba(29, 85, 109, 0.3);
  border-radius: 2px;
  padding: 0.298% 1.19%;
  float: left;
  margin: 0.595%;
  width: 32.143%;
  box-sizing: border-box;
  margin-left: 33.929%;
  font-family: "Lucida Grande", Verdana, "Bitstream Vera Sans", sans-serif;
  font-size: 12px;
  font-weight: bold; }
  @media handheld and (max-width: 800px) and (min-width: 500px), screen and (max-width: 800px) and (min-width: 500px) {
    #login-view, #register-view {
      float: left;
      margin: 0.595%;
      width: 48.81%;
      box-sizing: border-box;
      margin-left: 25.595%; } }
  @media handheld and (max-width: 500px), screen and (max-width: 500px) {
    #login-view, #register-view {
      float: left;
      margin: 0.595%;
      width: 98.81%;
      box-sizing: border-box; } }
  #login-view label, #login-view input[type="submit"], #register-view label, #register-view input[type="submit"] {
    display: block;
    margin-top: 20px; }
  #login-view textarea, #login-view input[type="text"], #login-view input[type="password"], #register-view textarea, #register-view input[type="text"], #register-view input[type="password"] {
    float: left;
    margin: 0.595%;
    width: 98.81%;
    box-sizing: border-box; }

#edit-view h1, #edit-view h2, #new-document-view h1, #new-document-view h2 {
  float: left;
  margin: 0.595%;
  width: 98.81%;
  box-sizing: border-box; }
#edit-view textarea, #edit-view input[type="text"], #new-document-view textarea, #new-document-view input[type="text"] {
  float: left;
  margin: 0.595%;
  width: 98.81%;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Courier, monospace;
  fonxt-size: 11px;
  line-height: 1.5; }
  #edit-view textarea:focus, #edit-view input[type="text"]:focus, #new-document-view textarea:focus, #new-document-view input[type="text"]:focus {
    outline: none; }
#edit-view textarea, #new-document-view textarea {
  height: 800px; }

#server_status.online {
  color: green; }
#server_status.offline {
  color: red; }

#application div.view {
  display: none; }
  #application div.view.active {
    display: block; }

/* =============================================================================
   Non-Semantic Helper Classes
   ========================================================================== */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0; }

.ir br {
  display: none; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

.clear {
  clear: both; }

/* =============================================================================
   Print Styles
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }

  /* Black prints faster: h5bp.com/s */
  a, a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }

  /* Don't show links for images, or javascript/internal links */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  /* h5bp.com/t */
  tr, img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
