<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;" />
  <meta http-equiv="X-UA-Compatible" content="chrome=1" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  
  <title>{% block title %}Annotare  ❧  For Inquistive Minds{% endblock %}</title>
  
  {% if DEBUG %}
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}annotare.css" />
  {% else %}
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}annotare.min.css" />
  {% endif %}
  
  {% block head %}
  {% endblock %}
  
</head>
<body class="">
  <div id="grid-container">
    <header>
      <nav class="wrap" id="main-nav">
        {% block nav %}
        {% endblock %}
        <div class="clear"></div>
      </nav>
    </header>
    
    <div id="application">
      {% block body %}
      {% endblock %}
    </div>
    
    <div class="push"><!--Sticky Footer Push--></div>
  </div>
</body>
</html>
